# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Bb]in/
[Oo]bj/
.DS_Store

# Rider
.idea/

# Visual Studio Code
.vscode/

# NuGet Packages
*.nupkg
*.snupkg
packages/

# Logs
*.log

venv

# Temporary files
*.tmp
*.temp
training-service/Helpers/Datasets/RoadTraversal.json
pathfinding-service/Helper/.env
routeestimation-service/Datasets/edge_traversals.json
training-service/Python/Service/Data/RoadTraversal.json
training-service/Python/Service/Data/RoadNetwork.json

# Python virtual environments
venv/
.venv/
env/
ENV/
